# Bracket Buster Testing

In [34]:
import os
import pandas as pd
import pickle

In [39]:
source_dir = "/Users/sean/Documents/bracket_buster/bracket_buster_v2.0/"

## read seasons

In [ ]:
def read_seasons(seasons_path):
    try:
        with open(seasons_path, 'r') as f:
            seasons = f.read()
    except FileNotFoundError:
        print(f'{seasons_path} does not exist' )
        raise 
    
    # print(seasons.split('\n')) 
    seasons = seasons.split('\n')
    # print(seasons)
    
    return seasons

In [ ]:
seasons = read_seasons('seasons_test.txt')

In [ ]:
type(seasons)

In [ ]:
seasons

## chicago-state Error

In [6]:
season = 2023
team = 'chicago-state'
url = 'https://www.sports-reference.com/cbb/schools/{}/{}.html#per_poss'.format(team, season)

In [8]:
url

'https://www.sports-reference.com/cbb/schools/chicago-state/2023.html#per_poss'

In [10]:
prev_team = 'chattanooga'
prev_url = 'https://www.sports-reference.com/cbb/schools/{}/{}.html#per_poss'.format(prev_team, season)
prev_url

'https://www.sports-reference.com/cbb/schools/chattanooga/2023.html#per_poss'

In [11]:
prev_df = pd.read_html(prev_url)[11]

In [12]:
prev_df.head()

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 24,ORtg,DRtg
0,1,Jake Stephens,24,24,770,13.6,24.7,0.552,9.8,15.3,...,17.6,6.2,1.7,4.0,5.1,2.9,39.7,NaN,127.0,98.3
1,2,Jamal Johnson,35,35,1042,8.2,19.1,0.433,3.1,6.2,...,8.5,2.4,2.0,0.7,2.9,3.8,27.0,NaN,117.5,106.2
2,3,Johnny Taylor,12,0,53,11.0,19.7,0.556,9.9,16.4,...,2.2,1.1,1.1,0.0,3.3,1.1,25.2,NaN,104.2,112.9
3,4,Ashton Smith,2,0,26,8.9,11.2,0.800,2.2,2.2,...,6.7,11.2,0.0,0.0,0.0,0.0,24.6,NaN,227.1,112.1
4,5,Sam Alexis,32,0,379,9.5,18.2,0.521,7.7,13.2,...,18.8,4.0,1.2,2.9,4.1,8.0,24.5,NaN,114.9,101.9

In [24]:
df = pd.read_html(url)[6]

In [25]:
df.head()

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 24,ORtg,DRtg
0,1,Wesley Cardet,31,31,1052,9.3,20.6,0.453,7.5,15.3,...,8.9,5.5,1.8,1.1,5.4,4.6,29.4,NaN,112.6,110.6
1,2,Jahsean Corbett,31,31,1077,9.6,20.6,0.466,7.7,14.6,...,15.2,1.9,1.1,0.7,3.1,3.9,24.4,NaN,109.9,109.3
2,3,Elijah Weaver,30,30,1012,7.3,18.8,0.387,3.1,7.3,...,7.1,6.0,1.8,0.4,4.9,3.7,22.2,NaN,104.0,111.2
3,4,Bryce Johnson,31,19,847,7.3,16.4,0.444,3.3,6.0,...,8.6,1.9,1.6,0.8,2.3,3.9,21.1,NaN,119.7,111.5
4,5,Deshawn Jean-Charles,12,7,267,6.3,14.8,0.424,5.6,10.1,...,8.1,2.5,1.1,0.4,3.1,9.0,17.7,NaN,103.6,113.8

In [22]:
prev_df.columns

Index(['Rk', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'Unnamed: 24', 'ORtg', 'DRtg'],
      dtype='object')

In [26]:
df.columns

Index(['Rk', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'Unnamed: 24', 'ORtg', 'DRtg'],
      dtype='object')

In [27]:
prev_df.columns == df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

Usually, the per 100 posessions stas are the the 12 table on the page--at an index of 11--while for chicago-state that table is at an in dex of 6. Usually, there are season and a conference version of all the tables on the page and for this team there is only season level.

In [33]:
try:
    df = pd.read_html(url)[11]
except IndexError as index_error:
    print(index_error)
    print(url)
    print("Index is out of range try alternate table index as team may not have conference stats")
    df = pd.read_html(url)[6]

list index out of range
https://www.sports-reference.com/cbb/schools/chicago-state/2023.html#per_poss
Index is out of range try alternate table index as team may not have conference stats

In [34]:
df.head()

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 24,ORtg,DRtg
0,1,Wesley Cardet,31,31,1052,9.3,20.6,0.453,7.5,15.3,...,8.9,5.5,1.8,1.1,5.4,4.6,29.4,NaN,112.6,110.6
1,2,Jahsean Corbett,31,31,1077,9.6,20.6,0.466,7.7,14.6,...,15.2,1.9,1.1,0.7,3.1,3.9,24.4,NaN,109.9,109.3
2,3,Elijah Weaver,30,30,1012,7.3,18.8,0.387,3.1,7.3,...,7.1,6.0,1.8,0.4,4.9,3.7,22.2,NaN,104.0,111.2
3,4,Bryce Johnson,31,19,847,7.3,16.4,0.444,3.3,6.0,...,8.6,1.9,1.6,0.8,2.3,3.9,21.1,NaN,119.7,111.5
4,5,Deshawn Jean-Charles,12,7,267,6.3,14.8,0.424,5.6,10.1,...,8.1,2.5,1.1,0.4,3.1,9.0,17.7,NaN,103.6,113.8

In [35]:
135/4

33.75

In [36]:
168.75/5

33.75

## transform stats bug

In [7]:
season = 2023
gamelog_season_filename = f"season_{season}_gamelog_data.pkl"
gamelog_dir = "/Users/sean/Documents/bracket_buster/bracket_buster_v2.0/0_scraped_data"

In [8]:
gl_df = pd.read_pickle(gamelog_dir + "/" + gamelog_season_filename)

In [25]:
gl_df.head()

,G,Date,Home,Opp,W,Pts,PtsA,FG,FGA,FG%,...,ORB,RB,AST,STL,BLK,TO,PF,Tm,sos,GameType
0,1,2022-11-07,H,jackson-state,1.0,65,56,23,57,.404,...,4,32,12,9,5,15,17,abilene-christian,1.15,season2023
1,2,2022-11-11,A,texas-am,0.0,58,77,20,52,.385,...,9,24,12,11,0,20,22,abilene-christian,1.15,season2023
2,3,2022-11-15,H,mcmurry,1.0,104,46,41,68,.603,...,15,44,22,15,5,18,18,abilene-christian,1.15,season2023
3,4,2022-11-21,N,wright-state,0.0,61,77,25,58,.431,...,6,26,15,11,3,23,23,abilene-christian,1.15,season2023
4,5,2022-11-22,N,weber-state,0.0,67,77,26,53,.491,...,2,22,20,7,3,15,19,abilene-christian,1.15,season2023

In [23]:
gl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11596 entries, 0 to 11741
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   G         11596 non-null  object
 1   Date      11596 non-null  object
 2   Home      11596 non-null  object
 3   Opp       11595 non-null  object
 4   W         11596 non-null  float64
 5   Pts       11596 non-null  object
 6   PtsA      11596 non-null  object
 7   FG        11581 non-null  object
 8   FGA       11581 non-null  object
 9   FG%       11581 non-null  object
 10  3P        11581 non-null  object
 11  3PA       11581 non-null  object
 12  3P%       11581 non-null  object
 13  FT        11581 non-null  object
 14  FTA       11581 non-null  object
 15  FT%       11580 non-null  object
 16  ORB       11581 non-null  object
 17  RB        11581 non-null  object
 18  AST       11581 non-null  object
 19  STL       11581 non-null  object
 20  BLK       11581 non-null  object
 21  TO        11581 non-null  object
 22  PF        11581 non-null  object
 23  Tm        11596 non-null  object
 24  sos       11596 non-null  float64
 25  GameType  11596 non-null  object
dtypes: float64(2), object(24)
memory usage: 2.4+ MB

In [22]:
gl_df[gl_df['W'].isna()].shape[0]

0

In [21]:
gl_df[gl_df['W'].isna()].head()

Empty DataFrame
Columns: [G, Date, Home, Opp, W, Pts, PtsA, FG, FGA, FG%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, RB, AST, STL, BLK, TO, PF, Tm, sos, GameType]
Index: []

[0 rows x 26 columns]

In [24]:
gl_df = gl_df[gl_df['W'].notna()].copy()

In [28]:
season = 2023
gamelog_season_filename = f"season_{season}_gamelog_stats_data.pkl"
gamelog_dir = "/Users/sean/Documents/bracket_buster/bracket_buster_v2.0/1_transformed_data"

In [29]:
gl_df_t = pd.read_pickle(gamelog_dir + "/" + gamelog_season_filename)

In [30]:
gl_df_t.head()

,Date,Home,Opp,W,sos,GameType,Ws,Wp,ppg,pApg,...,3Pp,FTp,ORBpg,RBpg,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm
0,2022-11-23,N,california-riverside,0.0,1.15,season2023,2.0,0.400000,71.0,66.6,...,0.3742,0.6202,7.2,29.6,16.2,10.6,3.2,18.2,19.8,abilene-christian
1,2022-11-27,A,northern-arizona,1.0,1.15,season2023,2.0,0.333333,71.0,70.6,...,0.3754,0.6658,8.8,29.0,16.6,10.2,2.8,18.0,20.6,abilene-christian
2,2022-11-30,H,north-american,1.0,1.15,season2023,3.0,0.428571,77.8,71.6,...,0.3978,0.6264,8.6,30.0,17.8,9.2,3.2,16.0,20.6,abilene-christian
3,2022-12-03,H,arlington-baptist,1.0,1.15,season2023,4.0,0.500000,75.6,71.6,...,0.4148,0.6256,9.0,28.8,17.2,9.2,2.8,14.2,20.6,abilene-christian
4,2022-12-06,A,kansas-state,0.0,1.15,season2023,5.0,0.555556,81.0,64.6,...,0.4152,0.7056,11.0,31.6,18.6,9.6,3.8,12.6,19.6,abilene-christian

In [31]:
gl_df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9737 entries, 0 to 9736
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      9737 non-null   object
 1   Home      9737 non-null   object
 2   Opp       9737 non-null   object
 3   W         9737 non-null   float64
 4   sos       9737 non-null   float64
 5   GameType  9737 non-null   object
 6   Ws        9737 non-null   float64
 7   Wp        9737 non-null   float64
 8   ppg       9737 non-null   float64
 9   pApg      9737 non-null   float64
 10  FGp       9737 non-null   float64
 11  3Pp       9737 non-null   float64
 12  FTp       9737 non-null   float64
 13  ORBpg     9737 non-null   float64
 14  RBpg      9737 non-null   float64
 15  ASTpg     9737 non-null   float64
 16  STLpg     9737 non-null   float64
 17  BLKpg     9737 non-null   float64
 18  TOpg      9737 non-null   float64
 19  PFpg      9737 non-null   float64
 20  Tm        9737 non-null   object
dtypes: float64(16), object(5)
memory usage: 1.6+ MB

In [32]:
gl_df_t_ = pd.read_pickle("/Users/sean/Documents/bracket_buster/bracket_buster_v2.0/1_transformed_data/season_2022_gamelog_stats_data.pkl")

In [33]:
gl_df_t_.shape

(9409, 21)

## Roster data height with decimal bug

Notes:
- There are null values for height in both 2022 and 2023 
- Issue: in 2023 there is an error telling me someone height is formatted somethign like 5.5-3 where it should be int-int format representing height in ft-in.

In [42]:
season = 2023
filename = f"roster_{season}_data.csv"
data_dir = "0_scraped_data/"
file_path = os.path.join(source_dir, data_dir, filename)
print(file_path)

/Users/sean/Documents/bracket_buster/bracket_buster_v2.0/0_scraped_data/roster_2023_data.csv

In [43]:
rdf = pd.read_csv(file_path)

In [44]:
rdf.head()

   Unnamed: 0           Player  Class Pos Height               Team  Season
0           0   Tobias Cameron    4.0   G    6-5  abilene-christian    2023
1           1  Ali Abdou Dibba    2.0   G    6-4  abilene-christian    2023
2           2   Airion Simmons    4.0   F    6-5  abilene-christian    2023
3           3   Immanuel Allen    4.0   G    6-4  abilene-christian    2023
4           4   Damien Daniels    4.0   G    5-7  abilene-christian    2023

In [74]:
rdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5615 entries, 0 to 5614
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5615 non-null   int64
 1   Player      5615 non-null   object
 2   Class       5609 non-null   float64
 3   Pos         5592 non-null   object
 4   Height      5601 non-null   object
 5   Team        5615 non-null   object
 6   Season      5615 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 307.2+ KB

In [75]:
rdf[rdf['Height'].isna()].shape

(14, 7)

In [84]:
rdf[rdf['Height'].isna()].head()

Empty DataFrame
Columns: [Unnamed: 0, Player, Class, Pos, Height, Team, Season]
Index: []

In [77]:
rdf = rdf.dropna(axis=0, how='any')

In [88]:
rdf.head()

   Unnamed: 0           Player  Class Pos Height               Team  Season
0           0   Tobias Cameron    4.0   G    6-5  abilene-christian    2023
1           1  Ali Abdou Dibba    2.0   G    6-4  abilene-christian    2023
2           2   Airion Simmons    4.0   F    6-5  abilene-christian    2023
3           3   Immanuel Allen    4.0   G    6-4  abilene-christian    2023
4           4   Damien Daniels    4.0   G    5-7  abilene-christian    2023

In [89]:
t = rdf['Height'].str.split('-', expand=True)

In [90]:
t.shape

(5583, 2)

In [93]:
t.head()

   0  1
0  6  5
1  6  4
2  6  5
3  6  4
4  5  7

In [95]:
t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5583 entries, 0 to 5613
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5583 non-null   object
 1   1       5583 non-null   object
dtypes: object(2)
memory usage: 130.9+ KB

In [94]:
t[~t.isna()].head()

   0  1
0  6  5
1  6  4
2  6  5
3  6  4
4  5  7

In [117]:
t.iloc[1, 0]

'6'

In [120]:
t[t[1].str.contains('.', na=False, regex=False)].head()

     0    1
846  6  3.5

In [101]:
3.5%1

0.5

In [102]:
4%1

0

In [107]:
t[t[1] == '3.5']

     0    1
846  6  3.5

In [109]:
'3.5'.split('.')[0]

'3'

In [125]:
'3.5'[:'3.5'.find('.')]

'3'

In [121]:
'.' in ('3.5')

True

In [66]:
t = t[~t[0].isna()]

In [98]:
t[0].astype(int)

0       6
1       6
2       6
3       6
4       5
       ..
5609    5
5610    6
5611    6
5612    6
5613    6
Name: 0, Length: 5583, dtype: int64

In [100]:
t.columns

RangeIndex(start=0, stop=2, step=1)

In [99]:
t[1].astype(int)

ValueError: invalid literal for int() with base 10: '3.5'

In [96]:
def height_in(row):
    row['Hf'] = int(row['Height'][0])
    row['Hi'] = int(row['Height'][1:].replace("-", ""))
    row['Height'] = row['Hf'] * 12 + row['Hi']
    return row

In [97]:
rdf = rdf.apply(height_in, axis=1)

ValueError: invalid literal for int() with base 10: '3.5'

In [49]:
rdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5615 entries, 0 to 5614
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5615 non-null   int64
 1   Player      5615 non-null   object
 2   Class       5609 non-null   float64
 3   Pos         5592 non-null   object
 4   Height      5601 non-null   object
 5   Team        5615 non-null   object
 6   Season      5615 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 307.2+ KB

In [56]:
rdf[rdf['Height'].isna()].shape

(14, 7)

In [63]:
rdf[rdf['Height'].isna()]

,Unnamed: 0,Player,Class,Pos,Height,Team,Season
245,245,Trent Harris,NaN,NaN,NaN,arkansas-pine-bluff,2023
583,583,Martin Cohen,NaN,G,NaN,cal-poly,2023
1395,1395,Miles Hall,1.0,G,NaN,florida-am,2023
1403,1403,Caleb Muller,2.0,G,NaN,florida-am,2023
1406,1406,Legend Stamps,4.0,C,NaN,florida-am,2023
1711,1711,Tre Thomas,1.0,NaN,NaN,hampton,2023
2592,2592,Julian Poland,NaN,NaN,NaN,maryland-eastern-shore,2023
3721,3721,Mckinley Harris,3.0,NaN,NaN,prairie-view,2023
3724,3724,Kevin McGaskey,3.0,NaN,NaN,prairie-view,2023
4147,4147,Uchenna Ndigwe,3.0,G,NaN,san-jose-state,2023
4547,4547,Montavious Murphy,3.0,NaN,NaN,stephen-f-austin,2023
4548,4548,Cade Walker,1.0,NaN,NaN,stephen-f-austin,2023
4803,4803,Calen Holiday,1.0,NaN,NaN,texas-southern,2023
5169,5169,Milos Merrick,1.0,G,NaN,texas-el-paso,2023

In [48]:
rdf[rdf['Height'].str.contains(".")].shape

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
row['Hf'] = int(row['Height'][0])
row['Hi'] = int(row['Height'][1:].replace("-", ""))

Previous years for comaprison

In [68]:
season = 2021
filename = f"roster_{season}_data.csv"
data_dir = "0_scraped_data/"
file_path = os.path.join(source_dir, data_dir, filename)
print(file_path)

/Users/sean/Documents/bracket_buster/bracket_buster_v2.0/0_scraped_data/roster_2021_data.csv

In [69]:
rdf_ = pd.read_csv(file_path)

In [70]:
rdf_.head()

   Unnamed: 0          Player  Class Pos Height               Team  Season
0           0     Kolton Kohl    4.0   C    7-0  abilene-christian    2021
1           1    Joe Pleasant    3.0   F    6-8  abilene-christian    2021
2           2    Coryon Mason    2.0   G    6-0  abilene-christian    2021
3           3     Clay Gayman    3.0   F    6-6  abilene-christian    2021
4           4  Airion Simmons    2.0   F    6-5  abilene-christian    2021

In [71]:
rdf_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5493 entries, 0 to 5492
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5493 non-null   int64
 1   Player      5493 non-null   object
 2   Class       5168 non-null   float64
 3   Pos         5493 non-null   object
 4   Height      5490 non-null   object
 5   Team        5493 non-null   object
 6   Season      5493 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 300.5+ KB

In [72]:
rdf_[rdf_['Height'].isna()].shape

(3, 7)

In [73]:
rdf_[rdf_['Height'].isna()]

      Unnamed: 0        Player  Class Pos Height          Team  Season
1775        1775  McGee Sorion    NaN   G    NaN     grambling    2021
3700        3700   Lorenz Ross    NaN   G    NaN  oral-roberts    2021
4917        4917     Ty Larson    NaN   G    NaN    texas-tech    2021