# Bracket Buster Testing

In [2]:
import pandas as pd

## read seasons

In [ ]:
def read_seasons(seasons_path):
    try:
        with open(seasons_path, 'r') as f:
            seasons = f.read()
    except FileNotFoundError:
        print(f'{seasons_path} does not exist' )
        raise 
    
    # print(seasons.split('\n')) 
    seasons = seasons.split('\n')
    # print(seasons)
    
    return seasons

In [ ]:
seasons = read_seasons('seasons_test.txt')

In [ ]:
type(seasons)

In [ ]:
seasons

## chicago-state Error

In [6]:
season = 2023
team = 'chicago-state'
url = 'https://www.sports-reference.com/cbb/schools/{}/{}.html#per_poss'.format(team, season)

In [8]:
url

'https://www.sports-reference.com/cbb/schools/chicago-state/2023.html#per_poss'

In [10]:
prev_team = 'chattanooga'
prev_url = 'https://www.sports-reference.com/cbb/schools/{}/{}.html#per_poss'.format(prev_team, season)
prev_url

'https://www.sports-reference.com/cbb/schools/chattanooga/2023.html#per_poss'

In [11]:
prev_df = pd.read_html(prev_url)[11]

In [12]:
prev_df.head()

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 24,ORtg,DRtg
0,1,Jake Stephens,24,24,770,13.6,24.7,0.552,9.8,15.3,...,17.6,6.2,1.7,4.0,5.1,2.9,39.7,NaN,127.0,98.3
1,2,Jamal Johnson,35,35,1042,8.2,19.1,0.433,3.1,6.2,...,8.5,2.4,2.0,0.7,2.9,3.8,27.0,NaN,117.5,106.2
2,3,Johnny Taylor,12,0,53,11.0,19.7,0.556,9.9,16.4,...,2.2,1.1,1.1,0.0,3.3,1.1,25.2,NaN,104.2,112.9
3,4,Ashton Smith,2,0,26,8.9,11.2,0.800,2.2,2.2,...,6.7,11.2,0.0,0.0,0.0,0.0,24.6,NaN,227.1,112.1
4,5,Sam Alexis,32,0,379,9.5,18.2,0.521,7.7,13.2,...,18.8,4.0,1.2,2.9,4.1,8.0,24.5,NaN,114.9,101.9

In [24]:
df = pd.read_html(url)[6]

In [25]:
df.head()

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 24,ORtg,DRtg
0,1,Wesley Cardet,31,31,1052,9.3,20.6,0.453,7.5,15.3,...,8.9,5.5,1.8,1.1,5.4,4.6,29.4,NaN,112.6,110.6
1,2,Jahsean Corbett,31,31,1077,9.6,20.6,0.466,7.7,14.6,...,15.2,1.9,1.1,0.7,3.1,3.9,24.4,NaN,109.9,109.3
2,3,Elijah Weaver,30,30,1012,7.3,18.8,0.387,3.1,7.3,...,7.1,6.0,1.8,0.4,4.9,3.7,22.2,NaN,104.0,111.2
3,4,Bryce Johnson,31,19,847,7.3,16.4,0.444,3.3,6.0,...,8.6,1.9,1.6,0.8,2.3,3.9,21.1,NaN,119.7,111.5
4,5,Deshawn Jean-Charles,12,7,267,6.3,14.8,0.424,5.6,10.1,...,8.1,2.5,1.1,0.4,3.1,9.0,17.7,NaN,103.6,113.8

In [22]:
prev_df.columns

Index(['Rk', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'Unnamed: 24', 'ORtg', 'DRtg'],
      dtype='object')

In [26]:
df.columns

Index(['Rk', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'Unnamed: 24', 'ORtg', 'DRtg'],
      dtype='object')

In [27]:
prev_df.columns == df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

Usually, the per 100 posessions stas are the the 12 table on the page--at an index of 11--while for chicago-state that table is at an in dex of 6. Usually, there are season and a conference version of all the tables on the page and for this team there is only season level.

In [33]:
try:
    df = pd.read_html(url)[11]
except IndexError as index_error:
    print(index_error)
    print(url)
    print("Index is out of range try alternate table index as team may not have conference stats")
    df = pd.read_html(url)[6]

list index out of range
https://www.sports-reference.com/cbb/schools/chicago-state/2023.html#per_poss
Index is out of range try alternate table index as team may not have conference stats

In [34]:
df.head()

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 24,ORtg,DRtg
0,1,Wesley Cardet,31,31,1052,9.3,20.6,0.453,7.5,15.3,...,8.9,5.5,1.8,1.1,5.4,4.6,29.4,NaN,112.6,110.6
1,2,Jahsean Corbett,31,31,1077,9.6,20.6,0.466,7.7,14.6,...,15.2,1.9,1.1,0.7,3.1,3.9,24.4,NaN,109.9,109.3
2,3,Elijah Weaver,30,30,1012,7.3,18.8,0.387,3.1,7.3,...,7.1,6.0,1.8,0.4,4.9,3.7,22.2,NaN,104.0,111.2
3,4,Bryce Johnson,31,19,847,7.3,16.4,0.444,3.3,6.0,...,8.6,1.9,1.6,0.8,2.3,3.9,21.1,NaN,119.7,111.5
4,5,Deshawn Jean-Charles,12,7,267,6.3,14.8,0.424,5.6,10.1,...,8.1,2.5,1.1,0.4,3.1,9.0,17.7,NaN,103.6,113.8

In [35]:
135/4

33.75

In [36]:
168.75/5

33.75